@model PartDetailsServiceModel

@{
    ViewBag.Title = "Part Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-12 text-center">
            <h1>@Model.Name</h1>
            <h3>For: @Model.Manufacturer @Model.Brand</h3>
            <p>Year: @Model.Year.Year</p>
        </div>
        <div class="col-12 text-center">
            <img class="card-img"
                 src="@Model.ImageUrl" alt="Part Image">
        </div>
        <div class="card col-12 border-0 text-center">
            <p>Located in: <b>@Model.Seller.Town.Name</b></p>
            <p>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </p>
            <p>@Model.Description</p>
            <p></p>
        </div>
        <div class="col-5"></div>
        <div class="card col-2">
            <div class="card-body">
                <h5 class="card-title">Seller Info</h5>
                <p class="card-text">Email: @Model.Seller.Buyer.Email</p>
                <p class="card-text">Phone Number: @Model.Seller.PhoneNumber</p>
            </div>
        </div>
    </div>
</div>