@model CarDetailsServiceModel

@{
    ViewBag.Title = "Car Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-12 text-center">
            <h1>@Model.Manufacturer @Model.Brand</h1>
            <p></p>
            <div class="row">
                <div class="col-1"><b>Year:</b><br />@Model.Year.Year</div>
                <div class="col-1"><b>First Registration:</b><br />@Model.FirstRegistrationYear.Year</div>
                <div class="col-1"><b>Body Type:</b><br />@Model.BodyType</div>
                <div class="col-1"><b>Fuel:</b><br />@Model.Fuel</div>
                <div class="col-1"><b>Traveled Distance:</b><br />@Model.TraveledDistance km</div>
                <div class="col-1"><b>Gears:</b><br />@Model.GearType</div>
                <div class="col-1"><b>Horse Power:</b><br />@Model.HorsePower</div>
                <div class="col-1"><b>Number of Doors:</b><br />@Model.NumberOfDoors</div>
                <div class="col-1"><b>Number of Seats:</b><br />@Model.NumberOfSeats</div>
                <div class="col-1"><b>Color:</b><br />@Model.Color</div>
                <div class="col-1"><b>Gears:</b><br />@Model.GearType</div>


                @if (@Model.VIN != null)
                {
                    <div class="col1"><b>VIN:</b><br />@Model.VIN</div>
                }
                @if (@Model.ServiceHistory)
                {
                    <div class="col-1"><b>Service History:</b><br />✓</div>
                }
                else
                {
                    <div class="col-1"><b>Service History:</b><br />X</div>
                }
            </div>
        </div>
        <p></p>
        <div class="col-12 text-center">
            <img class="card-img"
                 src="@Model.ImageUrl" alt="Car Image">
        </div>
        <div class="row text-center">
            <div class="col-12">
                <p>Equipments</p>
            </div>
            @if (@Model.Equipments != "")
            {
                @foreach (var equip in @Model.Equipments.Split(", "))
                {
                    <div class="col-2">
                        <p>@equip ✓</p>
                    </div>
                }
            }
            else
            {
                <p>No Equipments</p>
            }
        </div>
        <p></p>
        <div class="card col-12 border-0 text-center">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-2 text-center"><b>Located in:</b><br />@Model.Seller.Town.Name</div>
                <div class="col-5"></div>
                <p></p>
                <div class="col-5"></div>
                <div class="col-2 text-center">
                    <b>Price:</b>
                    <br />@String.Format("{0:f2}", Model.Price) BGN
                </div>
                <div class="col-5"></div>
                <p></p>
                <div class="col-12"><b>Description</b><br />@Model.Description</div>
            </div>
        </div>
        <p></p>
        <div class="col-5"></div>
        <div class="card col-2">
            <div class="card-body">
                <h5 class="card-title">Seller Info</h5>
                <p class="card-text">Email: @Model.Seller.Buyer.Email</p>
                <p class="card-text">Phone Number: @Model.Seller.PhoneNumber</p>
            </div>
        </div>
    </div>
</div>