@model CarDetailsServiceModel

@{
    ViewBag.Title = "Car Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-12 text-center">
            <h1>@Model.Manufacturer @Model.Brand</h1>
            <p>Year: @Model.Year.Year, First Registration: @Model.FirstRegistrationYear.Year, Body Type: @Model.BodyType</p>
            <p>Fuel: @Model.Fuel, Traveled Distance: @Model.TraveledDistance km, Gears: @Model.GearType, Horse Power: @Model.HorsePower, Number of Doors: @Model.NumberOfDoors, Number of Seats: @Model.NumberOfSeats, Color: @Model.Color</p>
            @if (@Model.VIN != null)
            {
                <p>VIN: @Model.VIN</p>
            }
            @if (@Model.ServiceHistory)
            {
                <p>Service History: ✓</p>
            }
            else
            {
                <p>Service History: X</p>
            }
        </div>
        <div class="col-12 text-center">
            <img class="card-img"
                 src="@Model.ImageUrl" alt="Car Image">
        </div>
        <div class="col-12 row text-center">
            <div class="col-12">
                <p>Equipments</p>
            </div>
            @if (@Model.Equipments != "")
            {
                @foreach (var equip in @Model.Equipments.Split(", "))
                {
                    <div class="col-2">
                        <p>@equip ✓</p>
                    </div>
                }
            }
            else
            {
                <p>No Equipments</p>
            }
        </div>
        <div class="card col-12 border-0 text-center">
            <p>Located in: <b>@Model.Seller.Town.Name</b></p>
            <p>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </p>
            <p>@Model.Description</p>
            <p></p>
        </div>
        <div class="col-5"></div>
        <div class="card col-2">
            <div class="card-body">
                <h5 class="card-title">Seller Info</h5>
                <p class="card-text">Email: @Model.Seller.Buyer.Email</p>
                <p class="card-text">Phone Number: @Model.Seller.PhoneNumber</p>
            </div>
        </div>
    </div>
</div>